<div class="input {{ classes.wrapper }}">
  <div class="input__error {{ classes.error }}">
    {{ errors }}
  </div>
  <input class="input__text {{ classes.input }}" type="{{ type }}" required {{ attrs }} />
  <label class="input__label {{ classes.label }}">
    {{ labelText }}
  </label>
</div>